.navbar-custom {
  background-color: #fff;
  box-shadow: 2px 2px 2px #ccc;
}
.navbar-custom i {
  height: 60px;
  line-height: 60px;
  min-width: 50px;
  font-size: 35px;
  text-align: center;
  z-index: 9999;
}

.fixed-top {
  left: inherit;
}

.flag {
  height: 20px !important;
}
